<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>controladorAlta</servlet-name>
        <servlet-class>BLL.controladorAlta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorBaja</servlet-name>
        <servlet-class>BLL.controladorBaja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorCenso</servlet-name>
        <servlet-class>BLL.controladorCenso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorConfBaja</servlet-name>
        <servlet-class>BLL.controladorConfBaja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorConfVoto</servlet-name>
        <servlet-class>BLL.controladorConfVoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorResultados</servlet-name>
        <servlet-class>BLL.controladorResultados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorVotar</servlet-name>
        <servlet-class>BLL.controladorVotar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>BLL.dispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorCambiarPass</servlet-name>
        <servlet-class>BLL.controladorCambiarPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorConfPass</servlet-name>
        <servlet-class>BLL.controladorConfPass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controladorAlta</servlet-name>
        <url-pattern>/controladorAlta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorBaja</servlet-name>
        <url-pattern>/controladorBaja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorCenso</servlet-name>
        <url-pattern>/controladorCenso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorConfBaja</servlet-name>
        <url-pattern>/controladorConfBaja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorConfVoto</servlet-name>
        <url-pattern>/controladorConfVoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorResultados</servlet-name>
        <url-pattern>/controladorResultados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorVotar</servlet-name>
        <url-pattern>/controladorVotar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/dispatcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorCambiarPass</servlet-name>
        <url-pattern>/controladorCambiarPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorConfPass</servlet-name>
        <url-pattern>/controladorConfPass</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
